target/
!target/*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
.DS_Store
Thumbs.db
*.log
logs/
.git/
.gitignore
.dockerfile.69dfe1fd4dd1aff44c9a58dde0debfde83bd2d52