target/
!target/*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
.DS_Store
Thumbs.db
*.log
logs/
.git/
.gitignore
.dockerfile.137a2e38afb5ef9b200d7e88f22ba562965600ba