target/
!target/*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
.DS_Store
Thumbs.db
*.log
logs/
.git/
.gitignore
.dockerfile.5ebc63ab669191e7bba519f8214c1e38044ec1bc